:root {
  --text-color: #2a3042;

  --background-gradient-light: linear-gradient(180deg, #f5f7fa 0%, #e4e7eb 100%);
  --background-gradient-dark: linear-gradient(180deg, #202738, #2a3042);

  --accent-color: #ff6b00;
  --border-color: #ab4b09;
  --primary-color: #3498db;
  --card-background: #ffffff;
  --card-border: #e1e4e8;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/* [data-theme='dark'] {
  --text-color: #eaedf3;
  --background-gradient: linear-gradient(180deg, #202738, #2a3042);
} */
