@import 'tailwindcss';

@source './**/*.{astro,html,js,ts,md,mdx}';

@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

.container {
  @apply min-w-full max-w-full;
}

@layer base {
  /* html {
    scroll-behavior: smooth;
  } */

  body {
    @apply transition-colors duration-300;
  }
}
