---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import Layout from '../components/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';
import PostBlock from '../components/PostBlock.astro';
import ProjectBlock from '../components/ProjectBlock.astro';

import meImage from '../assets/images/me.png';
import rssIcon from '../assets/icons/rss.svg';

const posts = (await getCollection('blog')).slice(0, 5);
const projects = (await getCollection('projects')).slice(0, 5);
---

<Layout>
  <h1>
    Welcome to My Website
    <a href="/rss.xml" aria-label="RSS Feed">
      <Image src={rssIcon} alt="RSS Feed" />
    </a>
  </h1>

  <section class="welcome">
    <Image src={meImage} alt="Kalinichenko" class="person-image" width="250" />
    <p>
      👋 Hi, I’m Ivan Kalinichenko — a Senior Frontend Developer specializing in JavaScript,
      TypeScript, and React.
    </p>

    <p>
      This site is where I share thoughts on frontend development, architecture, productivity, and
      remote work.
    </p>

    <p>Feel free to get in touch if anything here resonates with you.</p>
  </section>

  <SocialLinks />

  <section class="posts-section">
    <h2>Recent Posts</h2>

    {posts.map((post) => <PostBlock post={post} />)}
  </section>

  <section class="projects-section">
    <h2>Recent Projects</h2>

    {projects.map((post) => <ProjectBlock post={post} />)}
  </section>
</Layout>

<style is:global>
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'welcome welcome'
      'info info'
      'social social'
      'posts projects';
    gap: 2rem;
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    justify-items: stretch;
    align-items: start;
  }

  .welcome {
    grid-area: info;

    & > h1 {
      width: 100%;
      margin-bottom: 1rem;
    }

    & .person-image {
      float: right;
      clip-path: circle(50%);
      shape-outside: circle(50%);
    }
  }

  /* .person-image {
    grid-area: image;
    justify-self: end;
    clip-path: circle(50%);
  } */

  .social-links {
    grid-area: social;
    justify-self: center;
    width: 100%;
  }

  .posts-section {
    grid-area: posts;
    width: 100%;
    justify-self: start;
  }

  .projects-section {
    grid-area: projects;
    width: 100%;
    justify-self: start;
  }
</style>
