---
import { Image } from 'astro:assets';

import Layout from '../components/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';

import meImage from '../assets/images/me.png';
---

<Layout>
  <h1>Welcome to My Website</h1>

  <section class="welcome">
    <Image src={meImage} alt="Kalinichenko" class="person-image" width="250" />
    <p>
      👋 Hi, I’m Ivan Kalinichenko — a Senior Frontend Developer specializing in JavaScript,
      TypeScript, and React.
    </p>

    <p>
      This site is where I share thoughts on frontend development, architecture, productivity, and
      remote work.
    </p>

    <p>Feel free to get in touch if anything here resonates with you.</p>
  </section>

  <SocialLinks />
</Layout>

<style is:global>
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'welcome welcome'
      'info info'
      'social social'
      'posts projects';
    gap: 2rem;
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    justify-items: stretch;
    align-items: start;
  }

  .welcome {
    grid-area: info;

    & > h1 {
      width: 100%;
      margin-bottom: 1rem;
    }

    & .person-image {
      float: right;
      clip-path: circle(50%);
      shape-outside: circle(50%);
    }
  }

  /* .person-image {
    grid-area: image;
    justify-self: end;
    clip-path: circle(50%);
  } */

  .social-links {
    grid-area: social;
    justify-self: center;
    width: 100%;
  }

  .posts-section {
    grid-area: posts;
    width: 100%;
    justify-self: start;
  }

  .projects-section {
    grid-area: projects;
    width: 100%;
    justify-self: start;
  }
</style>
