---
import { Image } from 'astro:assets';

import Layout from '../components/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';

import meImage from '../assets/images/me.png';
---

<Layout classes="home">
  <h1>Welcome to My Website</h1>

  <section class="welcome">
    <Image src={meImage} alt="Kalinichenko" class="person-image" width="250" />
    <p>
      👋 Hi, I’m Ivan Kalinichenko — a Senior Frontend Developer specializing in JavaScript,
      TypeScript, and React.
    </p>

    <p>
      With over a decade of experience building scalable, maintainable web applications, I focus on
      clean architecture, smooth UI/UX, and modern frontend practices. I enjoy working in
      distributed teams and turning complex ideas into elegant interfaces.
    </p>

    <p>Feel free to get in touch if anything here resonates with you.</p>
  </section>

  <SocialLinks />
</Layout>

<style is:global>
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      'welcome welcome'
      'info info'
      'social social';
    gap: 1rem;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 3rem;
  }

  .welcome {
    grid-area: info;

    & > h1 {
      width: 100%;
      margin-bottom: 1rem;
    }

    & .person-image {
      float: right;
      clip-path: circle(50%);
      shape-outside: circle(50%);
    }
  }

  /* .person-image {
    grid-area: image;
    justify-self: end;
    clip-path: circle(50%);
  } */

  .social-links {
    grid-area: social;
    justify-self: center;
    width: 100%;
  }
</style>
