---
import '../styles/global.css';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Header from './Header.astro';
import Footer from './Footer.astro';
import Head from './Head.astro';

type Props = {
  title?: string;
  description?: string;
  classes?: string;
};

const { title = SITE_TITLE, description = SITE_DESCRIPTION, classes } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Head title={title} description={description} />
  </head>
  <body>
    <Header />

    <main class={classes}>
      <slot />
    </main>

    <Footer />
  </body>
</html>
