---
import { Image } from 'astro:assets';

import meImage from '../assets/images/me.png';
import meImageDark from '../assets/images/me-dark.png';
---

<div class="wrapper">
  <Image src={meImage} alt="Kalinichenko" class="person-image light" width="250" />
  <Image src={meImageDark} alt="Kalinichenko" class="person-image dark" width="250" />
</div>

<style is:global>
  .wrapper {
    width: 250px;
    height: 250px;
    float: right;
    margin: 2rem 1rem;
    position: relative;
    shape-outside: circle(50%);
    overflow: hidden;

    & > img {
      clip-path: circle(50%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition:
        transform 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
    }

    & > .light {
      transform: translateY(0);
      opacity: 1;
      z-index: 1;
    }

    & > .dark {
      transform: translateY(-100%);
      opacity: 0;
      z-index: 0;
      pointer-events: none;
    }
  }

  [data-theme='dark'] .wrapper > .light {
    transform: translateY(100%);
    opacity: 0;
    z-index: 0;
    pointer-events: none;
  }

  [data-theme='dark'] .wrapper > .dark {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
  }
</style>
