---
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';

import Layout from '../../components/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('projects');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<'projects'>;

const project = Astro.props;

console.log(Astro.props);

const { Content } = await render(project);
---

<Layout title={project.data.title} description={project.data.description}>
  <a href="/projects">Go Back</a>

  <h1>{project.data.title}</h1>

  <Content />
</Layout>
