---
import { type CollectionEntry, getCollection } from 'astro:content';

import Layout from '../../components/Layout.astro';
import PostBlock from '../../components/PostBlock.astro';
import ProjectBlock from '../../components/ProjectBlock.astro';

const posts = await getCollection('projects');
---

<Layout title="Blog" description="My blog posts">
  <section class="intro">
    <h2>Recent Posts</h2>
    <p>Welcome to my blog! Here you can find my latest posts.</p>
    <p>
      I write about web development, JavaScript, TypeScript, React, and other topics related to
      frontend development.
    </p>
  </section>

  <section>
    {posts.map((post) => <ProjectBlock post={post} />)}
  </section>
</Layout>

<style is:global>
  .intro {
    margin-bottom: 3rem;
  }
</style>
